In [5]:
%matplotlib inline
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

# Setup Seaborn
sns.set_style("whitegrid")
sns.set_context("poster")

In [17]:
def read_in_data(df_names, directory = './'):
    '''Read in data into seperate dataframes'''
    
    # change directory to data storage location
    os.chdir(directory)
    
    # list of filenames
    extension = 'csv'
    filenames = [i for i in glob.glob('*.{}'.format(extension))]
    
    # create global dfs within function
    for name, file in zip(df_names, filenames):
        globals()[name] = pd.read_csv(file, header=None, names = ['stars', 'text'])

In [18]:
# list of prefered dataframe names in same order as directory
df_names = ['test', 'train']
directory = '/Users/mattmerrill/Springboard/fellowship-ai_challenge/data'

read_in_data(df_names, directory)

In [19]:
train.head()

   stars                                               text
0      1  Unfortunately, the frustration of being Dr. Go...
1      2  Been going to Dr. Goldberg for over 10 years. ...
2      1  I don't know what Dr. Goldberg was like before...
3      1  I'm writing this review to give you a heads up...
4      2  All the food is great here. But the best thing...

In [20]:
test.head()

   stars                                               text
0      2  Contrary to other reviews, I have zero complai...
1      1  Last summer I had an appointment to get new ti...
2      2  Friendly staff, same starbucks fair you get an...
3      1  The food is good. Unfortunately the service is...
4      2  Even when we didn't have a car Filene's Baseme...